{% extends "basic.html" %}
{% block body %}
<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand" id="ctrlaltgift" href="/dashboard">Ctrl.Alt.Gift</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
	<li><a href="/search">Search the Shop</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">My Groups</div>
	<div class="panel-body">
	  <p><a class="btn btn-primary btn-lg" href="/creategroup" role="button">Create New Group</a></p>
	</div>

	<!-- List group -->
	<ul class="list-group">
	  <li class="list-group-item">Group Link!</li>
	  <li class="list-group-item">Dapibus ac facilisis in</li>
	  <li class="list-group-item">Morbi leo risus</li>
	  <li class="list-group-item">Porta ac consectetur ac</li>
	  <li class="list-group-item">Vestibulum at eros</li>
	</ul>
      </div>
    </div><!--col-->
    <div class="col-lg-6">
      <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">My Wishlist</div>
	<div class="panel-body">
	  <p><a class="btn btn-primary btn-lg" href="/search" role="button">Search the Shop</a></p>
	</div>

	<!-- List group -->
	<ul class="list-group">
	  <li class="list-group-item">Cras justo odio</li>
	  <li class="list-group-item">Dapibus ac facilisis in</li>
	  <li class="list-group-item">Morbi leo risus</li>
	  <li class="list-group-item">Porta ac consectetur ac</li>
	  <li class="list-group-item">Vestibulum at eros</li>
	</ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">My Shopping List</div>
	<div class="panel-body">
	  <p><a class="btn btn-primary btn-lg" href="/search" role="button">Search the Shop</a></p>
	</div>

	<!-- List group -->
	<ul class="list-group">
	  <li class="list-group-item">Cras justo odio</li>
	  <li class="list-group-item">Dapibus ac facilisis in</li>
	  <li class="list-group-item">Morbi leo risus</li>
	  <li class="list-group-item">Porta ac consectetur ac</li>
	  <li class="list-group-item">Vestibulum at eros</li>
	</ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">My Blacklist</div>
	<div class="panel-body">
	  <p><a class="btn btn-primary btn-lg" href="/editblack" role="button">Edit Blacklist</a></p>
	</div>

	<!-- List group -->
	<ul class="list-group">
	  <li class="list-group-item">Cras justo odio</li>
	  <li class="list-group-item">Dapibus ac facilisis in</li>
	  <li class="list-group-item">Morbi leo risus</li>
	  <li class="list-group-item">Porta ac consectetur ac</li>
	  <li class="list-group-item">Vestibulum at eros</li>
	</ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
