{% extends "basic.html" %}
{% block head %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src = "../static/scripts/script.js" type="text/javascript"3></script>
<style>
    .note{
        font-size: 80%;
    }
    .note:hover{
        text-decoration: underline;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block body %}
<nav class="navbar navbar-ct-success" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand" id="ctrlaltgift" href="/">Ctrl.Alt.Gift</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br><br>
<div class="container">
  <div class="row" id="login">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="jumbotron" id="landing">
  <h1 id="logintitle">Login</h1>
  <p id="loginp2">If logging in, enter your username and password and click the 'Login' button. Don't already have an account? Click 'Create New Account'.</p>
  <form action="/login" method="POST">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" name="username">
    </div> <br>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div> <br>
    <button type="submit" class="btn btn-default" id="login-register-button" name="login">Login</button>
  <br>
        <br>
                    <div class="note" onclick="changeToRegister()">
        Create New Account
    </div>
          </form>
      </div>
    </div>
  </div>
    
    <div class="row" id="register" style="display:none;">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="jumbotron" id="landing">
  <h1 id="logintitle">Register</h1>
  <form action="/login" method="POST">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" name="username">
    </div> <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Name of Preference" name="name">
    </div> <br>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div> <br>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Verify Password" name="password2">
    </div> <br>
    <button type="submit" class="btn btn-default" id="login-register-button" name="register">Register</button>
        <br>
        <br>
            <div class="note" onclick="changeToLogin()">
        Take Me Back to Login
    </div>
  </form>
      </div>
    </div>
  </div>
    
</div>
{% endblock %}
