{% extends "basic.html" %}
{% block body %}
<script src="../static/scripts/jquery.js" type="text/javascript"></script>
<script src = "../static/scripts/shop.js" type="text/javascript"></script>
<nav class="navbar navbar-ct-success" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand" id="ctrlaltgift" href="/dashboard">Ctrl.Alt.Gift</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">Dashboard</a></li>
        <li>
	  <form action="/login" method="POST">
	    <button type="submit" class="btn btn-default" name="logout">Logout</button>
	  </form>
	</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{message}}
    </div>
  </div>
  <div class="row">
  {% for item in etsylist %} 
      {% set i = item["url"] %}
    <div class="col-sm-12">
      <div class="thumbnail">
	<img src="{{item['imgurl']}}" height="300" width="363" alt="No Image Available">
	<div class="caption">
	  <h5 class="{{item['url']}}">{{item["name"]}}</h5>
    <p><b class="{{item['url']}}">{{item["price"]}}</b></p>
	  <p>{{item["description"]}}</p>
    <center>
    <p><a class="{{item['url']}}" href="{{item['url']}}" target = "_blank" role="button" class="btn btn-default" >View Item on Etsy</a></p>
	  <button onclick="wishlist('{{i}}')" class="btn btn-default"  id="wish-button">Add to Wishlist</button>
	  <button onclick="shoppinglist('{{i}}')" class="btn btn-default" id="shop-button">Add to Shopping list</button>
    </center>
	</div>
      </div>
    </div>
    <hr>
    <br>
  {% endfor %}
  </div>
</div>

{% endblock %}
