body {
    background-color: #215100;
    color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#ctrlaltgift {
    color: #890808;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}
#form_head {
    color: #EAE8FF;
}

#navbar {
    background-color: #456D00;
    color: #215200;
    border-color: transparent;
}

#navbar > li > a {
    background-color:#890808;
}

#navbar > li > a:hover {
    background-color:#B4B58B;
}


#landing {
    background-color: #890808;
}

#landingtitle {
    font-family: 'Indie Flower', cursive;
    color: #F2F2F2;
}

#landingp {
    font-family:'Open Sans', sans-serif;
    color: #F2F2F2;
}

#landingp2 {
    font-family:'Open Sans', sans-serif;
    color:#F2F2F2;
}
