#bootstrap_override #navbar {
    background-color: #138A36;
}


#bootstrap_override .jumbotron h1{
    color: #E52B2B;
}


#bootstrap_override .btn-default:hover {
    background-color: #E52B2B;
}

#bootstrap_override .panel-heading {
    color: #138A36;
}


