body {
    background-color: #2D3142;
    color: #D8D5DB;
    font-family: 'Open Sans', sans-serif;
}
#ctrlaltgift {
    color: #B0D7FF;
    font-family: 'Indie Flower', cursive;
}
#form_head {
    color: #EAE8FF;
}
 #authors {
     color: #ADACB5;
     font-family: 'Open Sans', sans-serif;
 }

 